html
  head
    title=__('john-and-margaret')
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
    )
    link(
      rel='stylesheet'
      href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
    )
    link(
      rel='stylesheet'
      href='/css/index.css',
    )
  body
    div.container
      div.page-header
        h1.center=__('john-and-margaret')
        p.center=__('wedding-ceremony')
      div.info-group
        div.info-item
          label=__('date-label')
          span=__('date-value')
        div.info-item
          label=__('time-label')
          span=__('time-value')
        div.info-item
          label=__('venue-label')
          span=__('venue-value')
        div.info-item
          label=__('address-label')
          span=__('address-value')
      div.question-group
        form.form-group(action='/api/submit', method='post')
          div.question-item
            label=__('real-name-label')
            input.form-control(type='text', name='realName')
          div.question-item
            label=__('participate-label')
            div.radio
              label
                input(type='radio', name='canAttend', value='yes', checked='true')
                span=__('attend')
            div.radio
              label
                input(type='radio', name='canAttend', value='no')
                span=__('cannot-attend')
          div.question-item
            label=__('invitation-label')
            div.radio
              label
                input(type='radio', name='invitationMethod', value='email', checked='true')
                span=__('email')
            div.radio
              label
                input(type='radio', name='invitationMethod', value='postal')
                span=__('postal')
          div.question-item
            label(id='address-label', data-postal=__('postal-address-label'), data-email=__('email-address-label'))=__('email-address-label')
            input.form-control(type='email', name='invitationAddr', id='address-input')
          div.question-item
            label=__('phone-number-label')
            input.form-control(type='tel', name='phone')
          div.question-item
            label=__('vegan-label')
            div.radio
              label
                input(type='radio', name='isVegan', value='false', checked='true')
                span=__('no')
            div.radio
              label
                input(type='radio', name='isVegan', value='true')
                span=__('yes')
          div.question-item
            label=__('say-something-label')
            textarea.form-control(name='saySomething')
          div.question-item
            input.form-control(type='submit', value=__('done'))
    script(src='/js/index.js')
