html
  head
    title=__('john-and-margaret')
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
    )
    link(
      rel='stylesheet'
      href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
    )
    link(
      rel='stylesheet'
      href='/css/index.css',
    )
  body
    div#graphics
      div.pig#pig-1(data-dialog-id='dialog-1')
      div.pig#pig-2(data-dialog-id='dialog-2')
      div.pig#pig-3(data-dialog-id='dialog-3')
      div.pig#pig-4(data-dialog-id='dialog-4')
      div.dialog#dialog-1
        p.message
          span=__('pig-message-1')
      div.dialog#dialog-2
        p.message
          span=__('pig-message-2')
          br
          span=__('pig-message-gift')
          br
          a(href='https://www.youtube.com/watch?v=a7hHWGLDz5k', target='__blank')=__('story')
      div.dialog#dialog-3
        p.message
          span=__('pig-message-3')
      div.dialog#dialog-4
        p.message
          span=__('pig-message-4')
    div.container
      div.page-header
        h1.center=__('john-and-margaret')
        p.center=__('wedding-ceremony')
      div.info-group
        div.info-item
          label=__('date-label')
          span=__('date-value')
        div.info-item
          label=__('time-label')
          span=__('time-value')
        div.info-item
          label=__('venue-label')
          span=__('venue-value')
        div.info-item
          label=__('address-label')
          span=__('address-value')
      div.question-group
        form.form-group#questions(action='/api/submit', method='post')
          div.question-item
            label=__('real-name-label')
            span.required  *
            input.form-control#real-name-input(type='text', name='realName')
          div.question-item
            label=__('participate-label')
            span.required  *
            div.radio
              label
                input(type='radio', name='canAttend', value='yes', checked='true')
                span=__('attend')
            div.radio
              label
                input(type='radio', name='canAttend', value='no')
                span=__('cannot-attend')
          div.question-item
            label=__('invitation-label')
            span.required  *
            div.radio
              label
                input(type='radio', name='invitationMethod', value='email', checked='true')
                span=__('email')
            div.radio
              label
                input(type='radio', name='invitationMethod', value='postal')
                span=__('postal')
          div.question-item
            label#address-label(data-postal=__('postal-address-label'), data-email=__('email-address-label'))=__('email-address-label')
            span.required  *
            input.form-control#address-input(type='email', name='invitationAddr')
          div.question-item
            label=__('phone-number-label')
            span.required  *
            input.form-control#phone-input(type='tel', name='phone')
          div.question-item
            label=__('vegan-label')
            span.required  *
            div.radio
              label
                input(type='radio', name='isVegan', value='false', checked='true')
                span=__('no')
            div.radio
              label
                input(type='radio', name='isVegan', value='true')
                span=__('yes')
          div.question-item
            label=__('say-something-label')
            textarea.form-control#say-something-input(name='saySomething')
          div.question-item
            input.form-control(type='submit', value=__('done'))
          div.warn.center#warn(data-blank-warn-msg=__('blank-warn'))
          div.footer
    script(src='/js/index.js')
