html
  head
    title John & Margaret
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
    )
    link(
      rel='stylesheet'
      href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
    )
    link(
      rel='stylesheet'
      href='/css/index.css',
    )
  body
    div.container
      div.page-header
        h1.center John & Margaret
        p.center We are getting married. Let's have fun together.
      div.info-group
        div.info-item
          label Date
          span  2016/09/09
        div.info-item
          label Time
          span  Opens at 18:30 / Starts at 19:30
        div.info-item
          label Address
          div No.201, Sec. 2, Dunhua S. Rd., Da’an Dist., Taipei City 106, Taiwan
      div.question-group
        form.form-group(action='/api/submit', method='post')
          div.question-item
            label Your Real Name
            input.form-control(type='text', name='realName')
          div.question-item
            label Participate Method
            div.radio
              label
                input(type='radio', name='participateMethod', value='attend')
                span Attend
            div.radio
              label
                input(type='radio', name='participateMethod', value='money')
                span Invitation Only
            div.radio
              label
                input(type='radio', name='participateMethod', value='wish')
                span Best Wishes
          div.question-item
            label Need Paper Invitation?
            div.radio
              label
                input(type='radio', name='needPaperInvitation', value='true')
                span Yes
            div.radio
              label
                input(type='radio', name='needPaperInvitation', value='false')
                span No
          div.question-item
            label Invitation Address
            input.form-control(type='text', name='invitationAddr')
          div.question-item
            label Relation with Us
            div.radio
              label
                input(type='radio', name='relationWithUs', value='john')
                span John's friend
            div.radio
              label
                input(type='radio', name='relationWithUs', value='margaret')
                span Margaret's friend
            div.radio
              label
                input(type='radio', name='relationWithUs', value='both')
                span Both
          div.question-item
            label Number of People
            input.form-control(type='number', name='numPeople')
          div.question-item
            label Phone Number
            input.form-control(type='tel', name='phone')
          div.question-item
            label Number of Vegans
            input.form-control(type='number', name='numVegan')
          div.question-item
            label Number of Children
            input.form-control(type='number', name='numChildren')
          div.question-item
            label Say Something
            textarea.form-control(name='saySomething')
          div.question-item
            input.form-control(type='submit', value='Done!')
