html
  head
    title=__('john-and-margaret')
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
    )
    link(
      rel='stylesheet'
      href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
    )
    link(
      rel='stylesheet'
      href='/css/index.css',
    )
  body
    div.container
      div.page-header
        h1.center=__('john-and-margaret')
        p.center=__('wedding-ceremony')
      div.info-group
        div.info-item
          label=__('date-label')
          span=__('date-value')
        div.info-item
          label=__('time-label')
          span=__('time-value')
        div.info-item
          label=__('venue-label')
          span=__('venue-value')
        div.info-item
          label=__('address-label')
          span=__('address-value')
      div.question-group
        form.form-group(action='/api/submit', method='post')
          div.question-item
            label=__('real-name-label')
            input.form-control(type='text', name='realName')
          div.question-item
            label=__('participate-label')
            div.radio
              label
                input(type='radio', name='participateMethod', value='attend')
                span=__('attend')
            div.radio
              label
                input(type='radio', name='participateMethod', value='money')
                span=__('cannot-attend')
          div.question-item
            label=__('invitation-label')
            div.radio
              label
                input(type='radio', name='needPaperInvitation', value='true')
                span=__('postal')
            div.radio
              label
                input(type='radio', name='needPaperInvitation', value='false')
                span=__('email')
          div.question-item
            label=__('mailing-address-label')
            input.form-control(type='text', name='invitationAddr')
          div.question-item
            label=__('phone-number-label')
            input.form-control(type='tel', name='phone')
          div.question-item
            label=__('vegan-label')
            div.radio
              label
                input(type='radio', name='participateMethod', value='attend')
                span=__('yes')
            div.radio
              label
                input(type='radio', name='participateMethod', value='money')
                span=__('no')
          div.question-item
            label=__('say-something-label')
            textarea.form-control(name='saySomething')
          div.question-item
            input.form-control(type='submit', value=__('done'))
